@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --white: #FFF;
    --black: #151515;
    --gray-100: #E4E4E4;
    --gay-200: #B9B9B9;
    --blue: #2D55FB;
    --primary: var(--black);
    --secondary: var(--gray-100);
    --accent: var(--blue);
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}
html,body{
  font-size: 15px;
}
@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
