@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --white: 255 255 255;
    --black: 21 21 21;
    --gray-100: 200 200 200;
    --gray-200: 228 228 228;
    --gray-300: 41 41 41;
    --gray-400: 245 245 245;
    --gray-500: 108 108 108;
    --blue: 45 85 251;
    --red: 239 61 61;
    --primary: var(--black);
    --secondary: var(--gray-200);
    --accent: var(--blue);
    --error: var(--red);
  }
}

html,body{
  color: rgb(var(--black))
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
